@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body { 
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: #4042CA;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
.list { 
    background-color: #ffffff;
    width: 400px;
    border-radius: 15px;
    padding: 20px;
}

.list h1, .list p { 
    text-align: center;
    color: #3f3f3f;
}

ul { 
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-around;
    line-height: 30px;
    background-color: #ffffff;
    margin-top: 4px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #36363646;
    color: #3f3f3f;
}


.checked {
    text-decoration: line-through;
}

#add { 
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #4042CA;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#item-lista {
    padding-left: 10px;
    border: none;
    width: 75%;
}

.del-button { 
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

.del-button:hover { 
    background-color: rgb(199, 7, 7);
}